<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Delete: {{store.storename}} </h2>
        <p>Are you sure you want to delete this store</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button><br>
            <a href="{% url 'store_list' %}">Store List</a>            
        </form>
    </body>
</html>